@tailwind base;
@tailwind components;
@tailwind utilities;

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-top: 20px solid #f00;
}

.text-outline {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}


.freehand-regular {
  font-family: "Freehand", cursive;
  font-weight: 400;
  font-style: normal;
}


.grand-hotel-regular {
  font-family: "Grand Hotel", cursive;
  font-weight: 400;
  font-style: normal;
}

.sofia-regular {
  font-family: "Sofia", cursive;
  font-weight: 400;
  font-style: normal;
}

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}



/* chrome */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


.bounce-anim{
  animation-name: bounce;
}

.bouncing-letters span:hover {
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  display: inline-block;
}

@keyframes bounce {
  20%,
  50%,
  80%,
  to {
      transform: scale(1, 1);
  }
  40% {
      transform: scale(1.75, 0.65);
  }
  45% {
      transform: scale(1.75, 0.65);
  }
  70% {
      transform: scale(1.25, 0.75);
  }
  90% {
      transform: scale(1.15, 0.85);
  }
}


/* .flip-card {
  perspective: 1000px;
  font-family: sans-serif;
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flip-card-front {
}

.flip-card-back {
  transform: rotateY(180deg);
} */

/* .appear {
  animation: appear linear forwards;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

input {
  outline: none;
  background-color: transparent;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
